<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= team.short_name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= Unit.find(team.unit_id).short_name %>
  </p>

</div>
