<h1>Users</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="text-light bg-dark">
    <tr>
      <th scope="col" class="text-center">User email</th>
      <th scope="col" class="text-center">User name</th>
      <th scope="col" class="text-center">Unit</th>
      <th scope="col" class="text-center">Team</th>
      <th scope="col" class="text-center">Férias por marcar</th>
    </tr>
  </thead>
  <tbody id="users">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%# User.find(unit.user_id).name %></td>
        <td><%# User.find(unit.user_id).unit_id %></td>
        <td><%# User.find(unit.user_id).team_id %></td>
        <td><%# User.find(unit.user_id).leaves %></td>
      </tr>
    <% end %>
  </tbody>
</table>