<div class="container text-center">
  <div class="row flex">
    <div class="col-12 mx-auto">
      <%= image_tag "beach.jpeg", width: 450, height: 340, class:"img-fluid my-3 mx-auto" %>
    </div>
    <div class="col-12">
      <h1 class="f0">Leave management Application</h1>
      <p class="my-3 f3 font-weight-normal">Here you can manage the attendances and absences of the people on your team.</p>
    </div>
  </div>
</div>

