<div id="<%= dom_id unit %>" class="card shadow-sm mb-3 rounded" >
  <p class="card-header">
    <strong>Nome:</strong>
    <%= unit.name %>
  </p>

  <p class="card-body">
    <strong>Abreviatura:</strong>
    <%= unit.short_name %>
  </p>
</div>
